body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
}

#N1background{
  background-image: url(http://img.taopic.com/uploads/allimg/120309/8879-1203091T53044.jpg); 
  margin-bottom: 0px;
  margin-top: -50px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin-heading{
   margin-top: 150px;
   padding-bottom: 40px;
   color: #FFFFFF
}

#nickWrap{
  margin-left: 300px;
  margin-right: 100px;
}

#setNick{
  padding-top: 10px;
  margin-top: 40px;
}

.form-signin ,.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

#signButton{
  margin-left: 280px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#chat {
  height: 500px;
  background-image: url(css/聊天內容背景.jpg);
}
#contentWrap {
  display:none;
}
#chatWrap {
  float: left;
  border: 1px #000 solid;
}



#chatButton{
  background-color:#3bb3e0;
  padding:10px;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  text-decoration:none;
  color:#fff;
  background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(44,160,202)),
  color-stop(1, rgb(62,184,229))
  );
  -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
  -moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
  -o-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
  box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#chatButton::before {
  background-color:#072239;
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  padding-left:2px;
  padding-right:2px;
  padding-bottom:4px;
  left:-2px;
  top:5px;
  z-index:-1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 0px #fff;
  -moz-box-shadow: 0px 1px 0px #fff;
  -o-box-shadow: 0px 1px 0px #fff;
  box-shadow: 0px 1px 0px #fff;
}

#chatButton:active {
  color:#156785;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  background:rgb(44,160,202);
  -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
  -moz-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
  -o-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
  box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
  top:7px;
}

#chatButton:active::before {
  top:-2px;
}